<div class="container about">
  <div class="row">
    <div class="col-md-12">
      <h1>RASR</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>What is RASR?</h3>
    </div>
    <div class="col-md-7">
      <p>People often come back to old school rpg tiled games. Also, games where you can modify the world are getting popular.
      This is also a good opportunity to experiment integrating a wide range of tech stack.

      We wanted to create an environment where players can express themselves through the art of map editing, while being able to explore and see what other users have created. This was also a good opportunity to integrate a wide range of technologies, from sophisticated frameworks such as Angular and Phaser.io, to cutting edge real-time engines like Socket.io</p>  
    </div>
    <div class="col-md-5">
      <img src="/assets/screenshots/about_1.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>How it works</h3>
    </div>
    <div class="col-md-5">
      <img src="/assets/screenshots/about_2.png" alt="">
    </div>
    <div class="col-md-7">
      <p>Players can explore the world, fight creatures, gain rewards, interact with other players and their surroundings.
      They also have the possibility to build and customize the world.

      With the arrow keys, the player is able to move through their surroundings and is able to destroy enemies by using fireballs with space. The player can shoot fireballs with the space button. Also, by clicking on the Earth icon in the bottom-left corner, the player can edit or create new maps.</p>
    </div>
  </div>

  <div class="row teams">
    <div class="col-md-12">
      <h3>Team</h3>
    </div>
    <div class="col-xs-3"><img src="/assets/team/andrew.jpg" alt="Andrew goes BOOM" class="img-circle"></div>
    <div class="col-xs-3"><img src="/assets/team/roberto.jpg" alt="Roberto hahahahaha" class="img-circle"></div>
    <div class="col-xs-3"><img src="/assets/team/romain.jpg" alt="Romain bow chica wow wow" class="img-circle"></div>
    <div class="col-xs-3"><img src="/assets/team/sean.jpg" alt="Sean" class="img-circle"></div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <h3>Credits</h3>
      <ul>
        <li>
          Background: <a href="http://www.rpg-palace.com/categories/game-maker-s-guild/resource-discussion/rpg-maker-xp-world-map-tile-set">TheInquisitor</a>
        </li>
        <li>
          Tileset and assets: <a href="http://www.rpgmakerweb.com/download/additional/other-materials">RPG MAKER</a>
        </li>
        <li>
          Map Editor: <a href="https://github.com/elias94xx/Online-Tile-Map-Editor">elias94xx</a>
        </li>
      </ul>
    </div>
  </div>

  
</div>