<a href="https://github.com/rising-thunder/rasr"><img class="github" style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>


<div class="container about">
  <div class="row">
    <div class="col-md-12">
      <h1>RASR</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>What is RASR?</h3>
    </div>
    <div class="col-md-7">
      <p>We wanted to create an environment where players can express themselves through the art of map editing, while being able to explore and see what other users have created. To build this game, we integrated a wide range of technologies, from sophisticated frameworks such as Angular and Phaser.io, to cutting edge real-time engines like Socket.io</p>  
      <button class="btn btn-primary" ui-sref="game">Play it now!</button>
    </div>
    <div class="col-md-5">
      <img src="/assets/screenshots/about_1.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>How it works</h3>
    </div>
    <div class="col-md-5">
      <img src="/assets/screenshots/about_2.png" alt="">
    </div>
    <div class="col-md-7">
      <p>Players build and customize the world as they see fit. Along the way, they explore this open-source world, fight creatures, gain rewards, and interact with other players and their surroundings.

      With the arrow keys, the player is able to move through their surroundings. You can destroy enemies by using fireballs with space. By clicking on the Earth icon in the bottom-left corner, the player can create and new maps.</p>
    </div>
  </div>

  <div class="row teams">
    <div class="col-md-12">
      <h3>Team</h3>
    </div>
    <div class="col-xs-3"><img src="/assets/team/andrew.jpg" alt="Andrew goes BOOM" class="img-circle"></div>
    <div class="col-xs-3"><img src="/assets/team/roberto.jpg" alt="Roberto hahahahaha" class="img-circle"></div>
    <div class="col-xs-3"><img src="/assets/team/romain.jpg" alt="Romain bow chica wow wow" class="img-circle"></div>
    <div class="col-xs-3"><img src="/assets/team/sean.jpg" alt="Sean" class="img-circle"></div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <h3>Credits</h3>
      <ul>
        <li>
          Background: <a href="http://www.rpg-palace.com/categories/game-maker-s-guild/resource-discussion/rpg-maker-xp-world-map-tile-set">TheInquisitor</a>
        </li>
        <li>
          Tileset and assets: <a href="http://www.rpgmakerweb.com/download/additional/other-materials">RPG MAKER</a>
        </li>
        <li>
          Map Editor: <a href="https://github.com/elias94xx/Online-Tile-Map-Editor">elias94xx</a>
        </li>
      </ul>
    </div>
  </div>

  
</div>