
<a href="https://github.com/rising-thunder/rasr"><img class="github" style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>


<div class="container landing">
  <div class="row">
    <h1>RASR</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ng-show="username">
        <h2>Welcome: {{ username }}</h2>
        <button class="btn btn-primary btn-lg" ng-click="play()"> Play on </button>
        <button class="btn btn-primary btn-lg" ui-sref="about">About</button>
        <button class="btn btn-primary btn-lg" ng-click="settings()"> Settings </button>
      </div>
      <div ng-hide="username">
        <button class="btn btn-primary btn-lg" ng-click="login()">Login?</button>
        <button class="btn btn-primary btn-lg" ui-sref="about">About</button>
        <button class="btn btn-primary btn-lg" ng-click="signup()">Signup!</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="/assets/screenshots/home.jpg" alt="RASR">
    </div>
  </div>
</div>
