<!-- <div ng-include="'partials/navbar'"></div> -->

<!-- <div class="landing">
  <h1>RASR</h1>
  <p>RASR is an open source world building game. Finally, you can build the world the way you wanted to with your peers. It's a 
      great way to build new friendships and explore the world!</p>
  <p>Brewed in San Francisco, by Sean, Roberto, Andrew, and Romain. Built with <a href="http://phaser.io">Phaser</a>.</p>
  <a href="/game" class="btn btn-primary">Play!</a>
</div>
 -->

<div class="container landing">
  <div class="row">
    <h1>RASR</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ng-show="username">
        <h2>Welcome: {{ username }}</h2>
        <button class="btn btn-primary " ng-click="play()"> Play on </button>
        <button class="btn btn-primary " ui-sref="about">About</button>
        <button class="btn btn-primary" ng-click="settings()"> Settings </button>
      </div>
      <div ng-hide="username">
        <button class="btn btn-primary" ng-click="login()">Login?</button>
        <button class="btn btn-primary" ng-click="signup()">Signup!</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="/assets/screenshots/home.jpg" alt="RASR">
    </div>
  </div>
</div>
