node_modules
.tmp
.sass-cache
public/bower_components
heroku
/views
dist
/public/scripts/game/**/*.js
/public/js

public/js/game/controllers/GameCtrl.js
public/js/game/services/map/MapModel.js

.DS_Store
