$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background: url('/assets/background.jpg') no-repeat;
    background-size: cover;
}

.container {
  background: white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 15px 0 15px
}

.game {
  width: 100%;
  max-width: 1300px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(250,250,250,0.85);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 621px;
}

div.col-md-9 {
  position: absolute;
  top: 1.5%;
}

.controls {

}

div.tooltip.fade.top.in {
  position: absolute;
  left: 1% !important;
  top: 86% !important;
  width: 80px;
  background: rgba(1,1,1,0);
}


ul.dropdown-menu {
  position: absolute;
  background-color: rgba(250,250,250,0.7);
  left: 107%;
  top: -284%
}

button.btn.btn-default.btn-sm, div.top {
  position: absolute;
  top: 91%;
  border: 0px;
  background: rgba(250,250,250,0.3);
  left: 1.7%;
}

button.btn.btn-default.btn-sm.dropdown-toggle {
  position: relative;
}

span.glyphicon.glyphicon-globe {
  font-size: 1.8em;
  position: relative;
  top: 3px;
}

.landing {
  position: fixed;
  width: 400px;
  height: 400px;
  background: rgba(250,250,250,0.9);
  border-radius: 10px;
  top:0;right:0;bottom:0;left:0;
  margin:auto;
  padding: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

div.input-group {
  top: 94%;
  left: 5%;
  position: absolute;
  width: 317px;
}

button.btn.btn-primary {
  background-color: #ce458c;
  border-color: #ce458c;
  font-size: 12px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.chatbox {
  height: 485px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(250,250,250,0.8);
}

.chatbox > .header {
  margin-bottom: 8px;
  font-size: 1.5em;
}

.messages {
  height: 250px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.stats {
  height: 119;
  width: 100%;
  border: 1px solid #eee;
  background-color: rgba(250,250,250,0.50);
  border-radius: 5px;
  .stats-item {
    margin-bottom: 2px;
    .meta {
      color: white;
      text-align: center;
      display: block;
      float: left;
      width: 75px;
      font-size: 12px;
      padding: 2px 5px;
      background-color: rgb(206, 69, 140);
      border-radius: 2px;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
    }
    .description {
      width: 236px;
      text-align: center;
      border-radius: 2px;
      display: inline-block;
      padding-left: 4px;
      color: rgb(61, 61, 65);
      margin-left: 5px;
      margin-top: 1px;
      background-color: rgba(255,210,180,0.75);
    }
  }
}

span.xp-tag {
  position: absolute;
  width: 100%;
  left: 14%;
}

div.progress {
  background-color: rgba(250,250,250,0.50);
  height: 21px;
  padding: 2px 5px;
}

div.progress-bar {
  width: 60%;
  background-color: rgba(255,210,180,0.75);
  color: black;
  height: 21px;
}

div.sidebar {
  position: absolute;
  left: 73%;
  width: 27%
}

/*.message {
  text-align: left;
}
*/
.chatToSend {
  border-radius: 3px;
  background-color: rgba(200,200,200,0.1);
}

/*andrews border stuff*/
canvas {
  text-align: center;
  border-radius: 5px
}

/*.border {
  position: fixed;
}

.border-top, .border-bottom {
  width: 900px;
  height: 50px;
}

.border-right, .border-left {
  width: 50px;
  height: 700px;
}

.border-top {
  top: 0;
  left: 0;
}

.border-bottom {
  top: 650px;
  left: 0;
}

.border-right {
  top: 0;
  left: 850px;
}

.border-left {
  top: 0;
  left: 0;
}
*/
/*.no-bordering-screen {
  background-color: black;
}
*//*
.hidden {
  display: inline;
}
*/
.labels-game {
  position: relative;
}

canvas {
}

.up, .down, .left, .right {
  text-align: center;
  margin: 0;
  width: 50%;
}
.right {
  float: right;
}
.left {
  float: left;
}

#game-canvas {
  clear: both;

}