<div class="container game">
  <div class="row">
    <div class="col-xs-9">
      
      <div id="game-container">
        <div id="game-canvas"></div>
      </div>

    </div>

    
    
    <div class="sidebar col-xs-3">
      <div class="stats">
        <div class="stats-item">
          <span class="meta">NAME </span>
          <span class="description"> {{ hero.meta.username }}</span>
        </div>


        <div class="stats-item"><span class="meta">LEVEL </span><span class="description"> {{ hero.level }}</span></div>


      <div class="stats-item">
        <span class="meta">
          XP
        </span>

          <div class="progress description">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ game.hero.xp }}" aria-valuemin="0" aria-valuemax="{{ game.hero.xpToGo }}"> {{ game.hero.toGo }}%
          </div>
          </div>

      </div>
      


        <div class="stats-item"><span class="meta">SPEED </span><span class="description"> {{ game.hero.speed }}</span></div>
        <div class="stats-item"><span class="meta">FIREBALLS </span><span class="description"> {{ game.hero.numArrowsShot }}</span></div>
      </div>
      <div class="chatbox">
        <div scroll-glue ng-model="glued" class="messages">
          <div ng-repeat="chat in chats">{{ chat.user }} [<span class='timestamp'></span>]: {{ chat.message }}</div>
        </div>
        <div class="form-group">
          <form id="sendMessage" ng-submit="sendChat()">
            <div class="input-group">
              <input type="text" class="form-control chatToSend" ng-model="chatToSend" on-focus-disable-hero placeholder"Chat with your fella' playa's">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">send</button>
            </span>
            </div>
          </form>
        </div>
      </div>

    </div>

<!-- title="Map Editor" data-toggle="tooltip" data-placement="top" -->

  <div class="btn-group top" >
  
  <button ng-click="editMap()" id="add-here" type='button' class='btn btn-default btn-sm'> 
    <span class='glyphicon glyphicon-globe'></span>
  </button>

  <button ng-click="makeMap('right')" id="add-right" type='button' class='btn btn-default btn-sm'>
    <span class='glyphicon glyphicon-{{ right }}'></span>
  </button>

  <button ng-click="makeMap('top')" id="add-top" type='button' class='btn btn-default btn-sm'>
      <span class='glyphicon glyphicon-{{ up }}'></span>
  </button>

   <button ng-click="makeMap('down')" id="add-down" type='button' class='btn btn-default btn-sm'>
    <span class='glyphicon glyphicon-{{ down }}'></span>
  </button>

   <button ng-click="makeMap('left')" id="add-left" type='button' class='btn btn-default btn-sm'>
    <span class='glyphicon glyphicon-{{ left }}'></span>
  </button>
 
  </div>
</div>

 <!--        <button class="btn btn-danger left createables" ng-hide="borders.left" ng-click="makeMap('left')">Create new screen to the left</button> -->
        <!-- <button class="btn btn-danger up createables" ng-hide="borders.up" ng-click="makeMap('up')">Create new screen above</button> -->
        <!-- <button class="btn btn-danger right createables" ng-hide="borders.right" ng-click="makeMap('right')">Create new screen to the right</button> -->
        <!-- <button class="btn btn-danger down createables" ng-hide="borders.down" ng-click="makeMap('down')">Create new screen below</button> -->



