
<div class="container">
  <div ng-include="'partials/navbar'"></div>
  <div id="game-container">
    
  </div>
  <p>This is the Game view. User is {{ currentUser.name }}</p> 
  <a id="map-id" href="/edit/">Edit map here</a>
  <div class="creatables">
    
  </div>

  <script data-main="/scripts/game/main" src="bower_components/requirejs/require.js"></script>

  <div class="chatbox">
    <div class="messages">
    </div>
    <div class="footer">
      <div class="form-group">
        <form id="sendMessage">
          <div class="input-group">
            <input type="text" class="form-control chatToSend" ng-model="chatToSend" placeholder"Chat with your fella' playa's">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">send</button>
          </span>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
