
<div class="container">
  <div ng-include="'partials/navbar'"></div>
  <div id="game-container">
    <p>Fight on {{ currentUser.name }}!</p> 

    <a id="map-id" href="/edit/">Edit map here</a>
    <div>
      <button class='btn btn-primary btn-block up createables hidden'>Create new screen above</button>
      <div class="row">
        <div class="col col-sm-1">
          <button class='btn btn-primary left createables hidden'>Create new screen to the left</button>
        </div>
        <div class="col col-sm-10" id="game-canvas">
          <script data-main="/scripts/game/main" src="bower_components/requirejs/require.js"></script>
        </div>
        <div class="col col-sm-1">
          <button class='btn btn-primary right createables hidden'>Create new screen to the right</button>
        </div>
      </div>
      <button class='btn btn-primary btn-block down createables hidden'>Create new screen below</button>
    </div>

  <div class="chatbox">
    <div class="header">
      Chat with your fella comrades
    </div>
    <div class="messages">
    </div>
    <div class="footer">
      <div class="form-group">
        <form id="sendMessage">
          <div class="input-group">
            <input type="text" class="form-control chatToSend" placeholder"Chat with your fella' playa's">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">send</button>
          </span>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
